<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp </title>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- link vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
    <!-- link fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <title>Document</title>
</head>
<body>
    
<!-- APP BOOLZAP -->
<div id="app">
    
<!-- wrapper WebApp -->
<div class="wrapper">

    <!-- CONTAINER -->
    <div class="container">

        <!-- SIDEBAR -->
        <div id="sidebar">

            <!-- HEADER SIDEBAR -->
            <header>
                <div>
                    <span class="align-middle">
                        <img :src="`img/avatar${contacts[1].avatar}.jpg`" alt=""
                        class="img-setup">
                    </span>

                    <span class="align-middle ml-1">
                        Io
                    </span>
                </div>

                <nav>
                    <ul>
                        <li class="color-gray">
                            <i class="fa-solid fa-user"></i>
                        </li>

                        <li class="ml-1 color-gray">
                            <i class="fa-regular fa-message"></i>
                        </li>

                        <li class="ml-1 color-gray">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- / HEADER SIDEBAR -->

            <!-- NOTIFICHE -->
            <section id="notifications">
                <span class="align-middle circle color-blue">
                    <i class="fa-solid fa-bell-slash"></i>
                </span>

                <span class="align-middle ml-1 size-small">
                    <p>
                        Ricevi notifiche di nuovi messaggi
                    </p>

                    <p>
                        <a href="">Attiva notifiche desktop</a>
                    </p>
                </span>
            </section>
            <!-- / NOTIFICHE -->

            <!-- SEARCH-USER -->
            <section id="search-user">
                <label for="find" class="color-gray mr-1">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
                <input id="find" type="text" placeholder="cerca o inizia una nuova chat" v-model.trim="filter">
            </section>
            <!-- / SEARCH-USER -->

            <!-- CONTATTI -->
            <section id="contacts">

                <!-- friend-box -->
                <div class="friend-box" 
                v-for="(element, index) in contacts"
                :class="{'active': index === selector}"
                @click="moveSelector(index)"
                v-show="filter === '' || (element.name.toLowerCase()).includes(filter.toLowerCase())">
                    <span class="align-middle">
                        <img :src="`img/avatar${element.avatar}.jpg`" alt=""
                        class="img-setup">
                    </span>

                    <span class="align-middle ml-1">
                        <p>{{element.name}}</p> 
                        <p class="color-gray size-small">
                            {{element.messages[element.messages.length-1].message}}
                        </p>
                    </span>

                    <small class="friend-box-date size-mini color-gray">
                        {{element.messages[element.messages.length-1].date}}
                    </small>
                </div>
                <!-- / friend-box -->

            </section>
            <!-- / CONTATTI -->

        </div>
        <!-- / SIDEBAR -->


        <!-- MAIN -->
        <main>

            <!-- HEADER MAIN -->
            <header>
                <div class="d-flex align-items-center">
                    <span class="align-middle">
                        <img :src="`img/avatar${contacts[selector].avatar}.jpg`" alt=""
                        class="img-setup">
                    </span>

                    <span class="align-middle ml-1">
                        <p>
                            {{contacts[selector].name}}
                        </p>
                        <p class="size-small color-gray">
                            Ultimo messaggio inviato alle:
                            {{contacts[selector].messages[contacts[selector].messages.length-1].date}}
                        </p>
                    </span>
                </div>

                <nav>
                    <ul>
                        <li class="color-gray"> 
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </li>

                        <li class="color-gray ml-1">
                            <i class="fa-solid fa-paperclip"></i>
                        </li>

                        <li class="color-gray ml-1">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- / HEADER MAIN -->

            <!-- CHAT SECTION -->
            <section id="chat"
            @click="deleteAllHiddenMenu">

                <div class="item">

                    <div v-for="(element, index) in contacts[selector].messages"
                    :class="element.status === 'sent' ? 'box-msg-user' : 'box-msg-friend'">
                        
                        <div :class="element.status === 'sent' ? 'box-msg-user-color' : 'box-msg-friend-color'"
                        @click.stop="showHiddenMenu(element)"
                        v-if="element.message !== ''">
                            {{element.message}}

                            <small class="date size-mini color-gray">
                                {{element.date}}
                            </small>

                            <small class="chevron-msg color-lightgray">
                                <i class="fa-solid fa-chevron-down"></i>
                            </small>

                            <small class="hidden-menu" v-show="element.flagHiddenMenu === true">
                                <p class="mb-1">message info</p>
                                <p @click.stop="deleteMsg(element)">delete message</p>
                            </small>
                        </div>


                    </div>

                </div>

            </section>
            <!-- / CHAT SECTION -->

            <!-- MESSAGE SECTION -->
            <section id="message">

                <span class="size-big color-gray">
                    <i class="fa-regular fa-face-smile"></i>
                </span>

                <input type="text" placeholder="scrivi un messaggio"
                v-model.trim="msg"
                @keyup.enter="addNewMessage">

                <span class="size-big color-gray">
                    <i class="fa-solid fa-microphone"></i>
                </span>

            </section>
            <!-- / MESSAGE SECTION -->

        </main>
        <!-- / MAIN -->

    </div>
    <!-- / CONTAINER -->

</div>
<!-- / wrapper WebApp -->

</div>
<!-- / APP BOOLZAP -->

<script src="js/script.js"></script>
</body>
</html>